trunk/esper/etc/esper-configuration-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="esper-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event-type-auto-alias" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="event-type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="auto-import" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="method-reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="database-reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="plugin-view" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="plugin-aggregation-function" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="plugin-pattern-guard" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="plugin-pattern-observer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="variable" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="adapter-loader" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="engine-settings" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-type-auto-alias">
		<xs:complexType>
			<xs:attribute name="package-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-type">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="xml-dom" minOccurs="0"/>
					<xs:element ref="java-util-map" minOccurs="0"/>
					<xs:element ref="legacy-type" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="alias" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xml-dom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="namespace-prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="xpath-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="root-element-name" type="xs:string" use="required"/>
			<xs:attribute name="root-element-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="default-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="schema-resource" type="xs:string" use="optional"/>
			<xs:attribute name="resolve-properties-absolute" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace-prefix">
		<xs:complexType>
			<xs:attribute name="prefix" type="xs:string" use="required"/>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xpath-property">
		<xs:complexType>
			<xs:attribute name="property-name" type="xs:string" use="required"/>
			<xs:attribute name="xpath" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xpath-type" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="xpath-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="number"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="boolean"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="java-util-map">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="map-property"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="map-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="auto-import">
		<xs:complexType>
			<xs:attribute name="import-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-reference">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="lru-cache" minOccurs="0"/>
					<xs:element ref="expiry-time-cache" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legacy-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method-property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="field-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="accessor-style" type="accessorStyleEnum" use="optional"/>
			<xs:attribute name="code-generation" type="codeGenerationEnum" use="optional"/>
			<xs:attribute name="property-resolution-style" type="propertyResolutionStyleEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-method" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-field" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="accessorStyleEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="javabean"/>
			<xs:enumeration value="explicit"/>
			<xs:enumeration value="public"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeGenerationEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="enabled"/>
			<xs:enumeration value="disabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="propertyResolutionStyleEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="case_sensitive"/>
			<xs:enumeration value="case_insensitive"/>
			<xs:enumeration value="distinct_case_insensitive"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="database-reference">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="datasource-connection" minOccurs="0"/>
					<xs:element ref="drivermanager-connection" minOccurs="0"/>
					<xs:element ref="connection-settings" minOccurs="0"/>
					<xs:element ref="connection-lifecycle" minOccurs="0"/>
					<xs:element ref="lru-cache" minOccurs="0"/>
					<xs:element ref="expiry-time-cache" minOccurs="0"/>
					<xs:element ref="column-change-case" minOccurs="0"/>
					<xs:element ref="metadata-origin" minOccurs="0"/>
					<xs:element ref="sql-types-mapping" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasource-connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="env-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="context-lookup-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="drivermanager-connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="connection-arg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
			<xs:attribute name="url" type="xs:string" use="required"/>
			<xs:attribute name="user" type="xs:string" use="optional"/>
			<xs:attribute name="password" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-arg">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-settings">
		<xs:complexType>
			<xs:attribute name="auto-commit" type="xs:boolean" use="optional"/>
			<xs:attribute name="catalog" type="xs:string" use="optional"/>
			<xs:attribute name="read-only" type="xs:boolean" use="optional"/>
			<xs:attribute name="transaction-isolation" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-lifecycle">
		<xs:complexType>
			<xs:attribute name="value" type="connection-lifecycle-enum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="connection-lifecycle-enum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="pooled"/>
			<xs:enumeration value="retain"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ref-type-enum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="weak"/>
			<xs:enumeration value="soft"/>
			<xs:enumeration value="hard"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="lru-cache">
		<xs:complexType>
			<xs:attribute name="size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expiry-time-cache">
		<xs:complexType>
			<xs:attribute name="max-age-seconds" type="xs:double" use="required"/>
			<xs:attribute name="purge-interval-seconds" type="xs:double" use="required"/>
			<xs:attribute name="ref-type" type="ref-type-enum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-view">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-aggregation-function">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="function-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-pattern-guard">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-pattern-observer">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adapter-loader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="init-arg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="init-arg">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="engine-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="defaults" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="defaults">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="threading" minOccurs="0"/>
				<xs:element ref="event-meta" minOccurs="0"/>
				<xs:element ref="view-resources" minOccurs="0"/>
				<xs:element ref="logging" minOccurs="0"/>
				<xs:element ref="variables" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="threading">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="listener-dispatch" minOccurs="0"/>
					<xs:element ref="insert-into-dispatch" minOccurs="0"/>
					<xs:element ref="internal-timer" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-meta">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="class-property-resolution" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener-dispatch">
		<xs:complexType>
			<xs:attribute name="preserve-order" type="xs:boolean" use="required"/>
			<xs:attribute name="timeout-msec" type="xs:long" use="optional"/>
			<xs:attribute name="locking" type="dispatchLockingEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="insert-into-dispatch">
		<xs:complexType>
			<xs:attribute name="preserve-order" type="xs:boolean" use="required"/>
			<xs:attribute name="timeout-msec" type="xs:long" use="optional"/>
			<xs:attribute name="locking" type="dispatchLockingEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="internal-timer">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="msec-resolution" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="class-property-resolution">
		<xs:complexType>
			<xs:attribute name="style" type="propertyResolutionStyleEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="view-resources">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="share-views" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="share-views">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logging">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="execution-path" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="variables">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="msec-version-release" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="execution-path">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="column-change-case">
		<xs:complexType>
			<xs:attribute name="value" type="columnChangeCaseEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata-origin">
		<xs:complexType>
			<xs:attribute name="value" type="metadataOriginEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sql-types-mapping">
		<xs:complexType>
			<xs:attribute name="sql-type" type="xs:integer" use="required"/>
			<xs:attribute name="java-type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="metadataOriginEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="default"/>
			<xs:enumeration value="metadata"/>
			<xs:enumeration value="sample"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="columnChangeCaseEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="none"/>
			<xs:enumeration value="lowercase"/>
			<xs:enumeration value="uppercase"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="variable">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="initialization-value" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="msec-version-release">
		<xs:complexType>
			<xs:attribute name="value" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="dispatchLockingEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="spin"/>
			<xs:enumeration value="suspend"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
