trunk/etc/esper-configuration-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Tom Bernhardt (Bear Stearns & Co.) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="esper-configuration">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="event-type"/>
			</xs:sequence>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="auto-import"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-type">
		<xs:complexType>
			<xs:attribute name="alias" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="auto-import">
		<xs:simpleType>
			<xs:attribute name="import-name" type="xs:string" use="required"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
