trunk/etc/esper-configuration-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Thomas X Bernhardt (JPMorgan) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="esper-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event-type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="auto-import" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-type">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="xml-dom" minOccurs="0"/>
					<xs:element ref="java-util-map" minOccurs="0"/>
					<xs:element ref="legacy-type" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="alias" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xml-dom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="namespace-prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="xpath-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="root-element-name" type="xs:string" use="required"/>
			<xs:attribute name="root-element-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="default-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="schema-resource" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace-prefix">
		<xs:complexType>
			<xs:attribute name="prefix" type="xs:string" use="required"/>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xpath-property">
		<xs:complexType>
			<xs:attribute name="property-name" type="xs:string" use="required"/>
			<xs:attribute name="xpath" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xpath-type" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="xpath-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="number"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="boolean"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="java-util-map">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="map-property"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="map-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="auto-import">
		<xs:complexType>
			<xs:attribute name="import-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legacy-type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method-property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="field-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="accessor-style" type="accessorStyleEnum" use="optional"/>
			<xs:attribute name="code-generation" type="codeGenerationEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-method" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-field" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="accessorStyleEnum">
             <xs:restriction base="xs:token">
                   <xs:enumeration value="javabean"/>
                   <xs:enumeration value="explicit"/>
                   <xs:enumeration value="public"/>
             </xs:restriction>
     </xs:simpleType>
	<xs:simpleType name="codeGenerationEnum">
             <xs:restriction base="xs:token">
                   <xs:enumeration value="enabled"/>
                   <xs:enumeration value="disabled"/>
             </xs:restriction>
     </xs:simpleType>
</xs:schema>
